* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    font-size: 62.5%;
}

body{
    background-color: rgb(44, 42, 42);
}

a {
    text-decoration: none;
    color: black;
    
}

img {
    width: 100%;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pantallaTitulo{
    background-image: url(../assets/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 12%;
    flex-direction: column;
    gap: 10rem;
}
.titulo{
    font-size: 13rem;
    font-family: "Micro 5", sans-serif;
    color: darkgoldenrod;
}

.botonStart{
    width: 10rem;
    height: 5rem;
    border-radius: 12px;
    color: darkgoldenrod;
    background-color: green;
    font-family: "Micro 5", sans-serif;
    font-size: 3rem;
    border: black .3rem solid;
    transition: all .5s ease;
}

.botonStart:hover{
    color:green;
    background-color: darkgoldenrod;
    border-radius: 25px;
}

.nombrarPersonaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.inputNombre{
    background-color: rgb(44, 42, 42) ;
    border: none;
    border-bottom: black solid 3px;
    color: darkgoldenrod;
    font-family: "Micro 5", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.escogerPersonaje{
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100%;
    height: 25rem;
    gap: 5rem;
}

.subTitulo{
    font-size: 5rem;
    text-align: center;
    font-family: "Micro 5", sans-serif;
    margin: 5rem;
}

.card {
    max-width: 25rem;
    background-color: green;
    margin: 1rem;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.card:hover{
    background-color: darkgoldenrod;
}

.card-titulo{
    font-size: 5rem;
    font-family: "Micro 5", sans-serif;
    text-align: center;
}

.card-img-top{
    max-height: 25rem;
    min-width: 25rem;
}

.imputPersonaje{
    display: none;
}

.botonCont{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.botonPersonaje{
    width: 10rem;
    height: 5rem;
    border-radius: 12px;
    color: white;
    background-color: green;
    font-family: "Micro 5", sans-serif;
    font-size: 3rem;
    border: black .3rem solid;
    transition: all 0.5s ease;
}

.botonPersonaje:hover{
    background-color: darkgoldenrod;
    border-radius: 25px;
}

.imgCorazon{
    width: 10rem;
}

.escogerAtaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.parrafoGenerado{
    font-size: 3rem;
    font-family: "Micro 5", sans-serif;
    background-image: url(../assets/bg2.gif);
}

.contCombate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.botonCombateEspada{
    width: 20rem;
    height: 6.8rem;
    border-radius: 12px;
    background-color: rgb(91, 88, 88);
    color: firebrick;
    border: black .3rem solid;
    font-family:"Micro 5", sans-serif;
    font-size: 2.8rem;
    transition: all ease 0.5s;
}

.botonCombateEspada:hover{
    background-color: firebrick;
    color: rgb(91, 88, 88);
}

.botonCombateMagia{
    width: 20rem;
    height: 6.8rem;
    border-radius: 12px;
    background-color: rgb(43, 43, 167);
    color: rgb(188, 188, 83);
    border: black .3rem solid;
    font-family:"Micro 5", sans-serif;
    font-size: 2.8rem;
    transition: all ease 0.5s;
}

.botonCombateMagia:hover{
    background-color: rgb(188, 188, 83);
    color: rgb(43, 43, 167);
}

.botonCombateContraataque{
    width: 20rem;
    height: 6.8rem;
    border-radius: 12px;
    background-color: rgb(44, 143, 75);
    color: rgb(118, 46, 147);
    border: black .3rem solid;
    font-family:"Micro 5", sans-serif;
    font-size: 2.8rem;
    transition: all ease 0.5s;
}

.botonCombateContraataque:hover{
    background-color: rgb(118, 46, 147);
    color: rgb(44, 143, 75);
}

.botonFinal{
    width: 18rem;
    height: 5rem;
    border-radius: 12px;
    background-color: rgb(6, 151, 52);
    color: rgb(59, 65, 18);
    border: black .3rem solid;
    font-family:"Micro 5", sans-serif;
    font-size: 2rem;
    transition: all ease 0.5s;
}

.botonFinal:hover{
    background-color: rgb(59, 65, 18);
    color: rgb(6, 151, 52);
}